<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ordernumber')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ordernumber" data-rule="required" class="form-control" name="row[ordernumber]" type="text" value="{$row.ordernumber|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stu_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stu_id" data-rule="required" data-source="stu/index" class="form-control selectpage" name="row[stu_id]" type="text" value="{$row.stu_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coach_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coach_id" data-rule="required" data-source="coach/index" class="form-control selectpage" name="row[coach_id]" type="text" value="{$row.coach_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Machine_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-machine_id" data-rule="required" data-source="machine/index" class="form-control selectpage" name="row[machine_id]" type="text" value="{$row.machine_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cooperation_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cooperation_id" data-rule="required" data-source="cooperation/index" class="form-control selectpage" name="row[cooperation_id]" type="text" value="{$row.cooperation_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Space_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-space_id" data-rule="required" data-source="space/index" class="form-control selectpage" name="row[space_id]" type="text" value="{$row.space_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Subject_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-subject_type" class="form-control selectpicker" multiple="" name="row[subject_type][]">
                {foreach name="subjectTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.subject_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score" class="form-control" name="row[score]" type="number" value="{$row.score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kaochang')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kaochang" class="form-control" name="row[kaochang]" type="text" value="{$row.kaochang|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:$row.endtime?datetime($row.endtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pass_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pass_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[pass_time]" type="text" value="{:$row.pass_time?datetime($row.pass_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
