<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Space_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-space_id" class="form-control selectpicker" name="row[space_id]" onchange="set_order_length()">
                {foreach name="spaceList" item="vo"}
                    <option value="{$vo.space_id}" {in name="vo.space_id" value=""}selected{/in}>{$vo.space_name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coach_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-coach_id" class="form-control selectpicker" name="row[coach_id]" onchange="set_order_length()">
                {foreach name="coachSc" item="vo"}
                    <option value="{$vo.coach_id}" {in name="vo.coach_id" value=""}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Machine_ai_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-machine_ai_id" class="form-control selectpicker" name="row[machine_ai_id]">
                <option value="">没有选中任何项</option>
                {foreach name="machineAi" item="vo"}
                    <option value="{$vo.id}" {in name="vo.id" value=""}selected{/in}>{$vo.machine_code}</option>
                {/foreach}
            </select>
        </div>
    </div>

    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Machine_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-machine_code" data-rule="required" class="form-control" name="row[machine_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fchrmachinedeviceid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fchrMachineDeviceID" class="form-control" name="row[fchrMachineDeviceID]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fchrcarinfoid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fchrCarInfoID" class="form-control" name="row[fchrCarInfoID]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Terminalygid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-terminalYGID" class="form-control" name="row[terminalYGID]" type="text">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-car_type" class="form-control selectpicker" name="row[car_type]">
                {foreach name="carTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="cartype1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Subject_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-subject_type" class="form-control"  name="row[subject_type]">
                {foreach name="subjectTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sim')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sim" class="form-control" name="row[sim]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Imei')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-imei" class="form-control" name="row[imei]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sn" class="form-control" name="row[sn]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Terminal_equipment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-terminal_equipment" class="form-control" name="row[terminal_equipment]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Study_machine')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-study_machine" class="form-control" name="row[study_machine]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Brand')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-brand" class="form-control" name="row[brand]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shape')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shape" class="form-control" name="row[shape]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Regionimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-regionimage" class="form-control" size="50" name="row[regionimage]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-regionimage" class="btn btn-danger faupload" data-input-id="c-regionimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-regionimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-regionimage" class="btn btn-primary fachoose" data-input-id="c-regionimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-regionimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-regionimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" class="form-control" size="50" name="row[images]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-images" class="btn btn-danger faupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="stateList" item="vo"}
            <label for="row[state]-{$key}"><input id="row[state]-{$key}" name="row[state]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control" name="row[remark]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
