<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vx_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vx_name" class="form-control" name="row[vx_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Regis_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-regis_status" class="form-control selectpicker" name="row[regis_status]">
                {foreach name="regisstatuslist" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-sex" class="form-control selectpicker" name="row[sex]">
                {foreach name="sexList" item="vo"}
                    <option value="{$key}" {in name="key" value="male"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-car_type" class="form-control selectpicker" multiple="" name="row[car_type][]">
                {foreach name="carTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="cartype1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Course')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-course" class="form-control selectpicker" name="row[course]">
                {foreach name="courseList" item="vo"}
                    <option value="{$vo.id}" {in name="vo.id" value=""}selected{/in}>{$vo.course}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Follower')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-follower" class="form-control selectpicker" name="row[follower]">
                <option value="">没有选中任何项</option>
                {foreach name="recommenderList" item="vo"}
                    <option value="{$vo.id}" {in name="vo.id" value=""}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Intention')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-intention" class="form-control selectpicker" name="row[intention]">
                {foreach name="intentionList" item="vo"}
                    <option value="{$key}" {in name="key" value="3"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remarks')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remarks" class="form-control" name="row[remarks]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
